.modal-close {
    cursor: pointer;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 123, 0.5);
}

.modal-wrapper.hidden {
    display: none;
}

.modal-wrapper.visible {
    display: flex;
}

.modal-content {
    background-color: #ffffff;
    min-width: 600px;
    padding: 25px;
    border-radius: 10px;
}

.modal-form-content {
    margin-top: 25px;
}

.modal-form-content form {
    display: flex;
    flex-direction: column;
}

form > input, textarea {
    margin: 7px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #717171;
}

input:focus {
    box-shadow: 0 0 3px 0 #684a80;
}

textarea:focus {
    box-shadow: 0 0 3px 0 #684a80;
}
