html, body {
    min-width: 100%;
    min-height: 100%;
}

body {
    background: url("./../images/background.jpg");
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

.d-flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-end {
    justify-content: flex-end;
}

.js-start {
    justify-content: flex-start;
}

.fd-col {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.fw-wrap {
    flex-wrap: wrap;
}

.ac-start {
    align-content: flex-start;
}
